<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<h3>input element</h3>
<div id="test1">
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
</div>

<h3>checkbox element</h3>
<div id="test2">
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
</div>

<h3>multiple checkbox</h3>
<div id="test3">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>

<div id="test4">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>
</div>

<div id="test5">
    <select v-model="selected">
        <option disabled value="">请选择</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>Selected: {{ selected }}</span>
</div>

<div id="test6">
    <select v-model="selected" multiple style="width: 50px;">
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <br>
    <span>Selected: {{ selected }}</span>
</div>

<div id="test7">
    <select v-model="selected">
        <option v-for="o in options" v-bind:value="o.value">
            {{ o.text }}
        </option>
    </select>
    <span>selected: {{selected}}</span>
</div>

<script>

    new Vue({
        el: '#test1',
        data: {
            message: ''
        }
    });

    new Vue({
        el: '#test2',
        data: {
            checked: true,
        }
    });

    new Vue({
        el: '#test3',
        data: {
            checkedNames: []
        }
    });

    new Vue({
        el: '#test4',
        data: {
            picked: ''
        }
    });

    new Vue({
        el: '#test5',
        data: {
            selected: ''
        }
    });

    new Vue({
        el: '#test6',
        data: {
            selected: ''
        }
    });

    new Vue({
        el: '#test7',
        data: {
            selected: 'A',
            options: [
                {text: 'one', value: 'A'},
                {text: 'two', value: 'B'},
                {text: 'three', value: 'C'},
            ]
        }
    });
</script>
</body>
</html>